body {
    background: #eaeaea;
}

#sumilla {
    height: 400px;
}

input {
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
}

.index-btn-wrapper {
    display: flex;
}

.index-btn {
    margin: 20px 15px 0 0;
    background: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.index-btn:hover {
    opacity: 0.8;
}

.step {
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin: 0 2px;
    color: white;
    background: green;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.25;
}

.tab {
    opacity: 0;
    display: none;
}

.tab.active {
    opacity: 1;
    display: block;
}

#draggablePanelList .panel-heading {
    cursor: move;
}

#draggablePanelList2 .panel-heading {
    cursor: move;
}

.containerRegister1 {
    background: #ffffff;
    margin-top: 20px;
    margin-bottom: 45px;
    padding: 15px 40px 10px 40px;
}

.card-header {
    background-color: rgb(45, 95, 202); 
    color: white;
}

.card-body {
    background-color: #f0f0f0;
}

#tab-3 thead th {
    background-color: #3f8dc2; 
    color: white;
}

.transparent-input {
    border: none;
    background: transparent;
    width: 95%; 
    height: 25px;
  }